$color-black: #222222;
$color-white : white;
$color-bg :#eeeeee;
$color-main: #fcd000;


$fs-0: 13px;
$fs-1: 15px;
$fs-2: 20px;
$fs-3: 24px;
$fs-4: 30px;
$fs-5: 40px;
$fs-6: 50px;

$fw-bold: bold;
$fw-normal: normal;

$breakpoints:(
    'medium': 768px,
    'large':1920px
)
