<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../assets/css/index.css">
    <title>Document</title>
</head>

<body>

    <!-- BEGIN HEADER -->
    <header class="myHeader">
        <div class="title__right">
            <ul class="myHeader__content">
                <li>ニュースリリース </li>
                <li>よくあるご質問</li>
            </ul>
        </div>
    </header>
    <!-- END HEADER -->

    <!-- BEGIN NAVBAR -->
  <nav class="myNav">
        <div class="myNav__logo">
          <img src="../../assets/img/さくらタクシー株式会社.png" alt="">
        </div>
        <div class="myNav__menu">
            <label for="toggle">&#9776;</label>
            <input type="checkbox" id="toggle"/>
          <ul class="myNav__content">
            <li><a href="./company.html">タクシー</a></li>
            <li><a href="./company.html">ハイヤー</a></li>
            <li><a href="./company.html">会社情報</a></li>
            <li><a href="./company.html">車両情報</a></li>
            <li><a href="./company.html">新卒採用</a></li>
            <li><a href="./company.html">中途採用</a></li>
            <li><a href="./company.html">お問い合わせ</a></li>
          </ul>
        </div>
      </nav>
      <!-- END NAVBAR -->

    <!-- BEGIN COVER -->
    <section class="cover">
        <div class="cover__text">
            <div class="cover__title">
                <h2>First Class <span class="service">Service</span></h2>
            </div>
            <div class="text__content">
                <p>積み重ねてきた信頼が、上質なサービスを生み出す。</p>
                <p>あくなきサービスの追求と革新へのチャレンジ！</p>
            </div>
        </div>
    </section>
    <!-- END COVERR -->

    <!-- BEGIN INTRODUCE -->
    <section class="intro">
        <div class="intro__title">
            <h2>タクシーサービス</h2>
            <p>他社に追随を許さない新サービスの展開</p>
        </div>
        <div class="intro__content">
            <div class="myContent">
                <div class="content__img">
                    <img src="../../assets/img/index.jpg" alt="">
                </div>
                <div class="content__text">
                    <p class="title__bold">お迎え専用電話をしていただければ配車がスムーズです</p>
                    <p>さくらタクシーでは、全車で3ナンバーのクラウン・ロイヤルサルーン、スーパーサルーンを使用し、快適な車内空間をご提供いたします。</p>
                    <button class="intro__btn">タクシーサービスの特徴を見る<i class="fa fa-angle-right"></i></button>
                </div>
            </div>
            <div class="intro__item">
                <div class="service">
                    <div class="service__text">
                        <p>サービス案内</p>
                        <p>Service guide</p>
                    </div>
                </div>
                <div class="item">
                    <div class="item__logo">
                        <img src="../../assets/img/item_1.jpg" alt="">
                        <p>タクシーを呼ぶ</p>
                        <i class="fa fa-angle-right"></i>
                    </div>
                    <div class="item__logo">
                        <img src="../../assets/img/item_2.jpg" alt="">
                        <p>乗り場案内</p>
                        <i class="fa fa-angle-right"></i>
                    </div>
                    <div class="item__logo">
                        <img src="../../assets/img/item_3.jpg" alt="">
                        <p>料金・チケット</p>
                        <i class="fa fa-angle-right"></i>
                    </div>
                    <div class="item__logo">
                        <img src="../../assets/img/item_4.jpg" alt="">
                        <p>車両情報</p>
                        <i class="fa fa-angle-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- END INTRODUCE -->

    <!-- BEGIN NEWS -->
    <section class="news">
        <div class="news__heading">
            <h1>NEWS</h1>
            <p>ニュースリリース</p>
            <p class="text__right"><i class="fa fa-angle-right"></i>一覧を見る</p>
            <p class="line"></p>
        </div>
        <!-- NEW__CONTENT -->
        <div class="news__content">

            <div class="news__note">
                <p class="date">2018.08.21</p>
                <div class="text">
                    <span>ニュース</span>
                </div>
            </div>
            <p>ネット決済および時間指定予約受付スタート! !</p>
            <i class="fa fa-angle-double-right"></i>
        </div>
        <p class="news__line"></p>

        <div class="news__content">

            <div class="news__note">
                <p class="date">2018.08.21</p>
                <div class="text">
                    <span>ニュース</span>    
                </div>
            </div>
            <p>ネット決済および時間指定予約受付スタート! !</p>
            <i class="fa fa-angle-double-right"></i>
        </div>
        <p class="news__line"></p>

        <div class="news__content">
            <div class="news__note">
                <p class="date">2018.08.21</p>
                <div class="text">
                <span>ニュース</span>
                <span>プレス情報</span>
                <span>メディア情報</span>
            </div>
            </div>
            <p>ネット決済および時間指定予約受付スタート! !</p>
            <i class="fa fa-angle-double-right"></i>
        </div>
        <p class="news__line"></p>

        <div class="news__content">

            <div class="news__note">
                <p class="date">2018.08.21</p>
                <div class="text">
                    <span>ニュース</span>
                </div>
            </div>
            <p>ネット決済および時間指定予約受付スタート! !</p>
            <i class="fa fa-angle-double-right"></i>
        </div>
        <p class="news__line"></p>

        <div class="news__content">

            <div class="news__note">
                <p class="date">2018.08.21</p>
                <div class="text">
                    <span>ニュース</span>
                </div>
            </div>
            <p>ネット決済および時間指定予約受付スタート! !</p>
            <i class="fa fa-angle-double-right"></i>
        </div>
        <p class="news__line"></p>

        <!-- END NEW__CONTENT -->
    </section>
    <!-- END NEWS -->

    <!-- BEGIN RECURIT -->
    <section class="recurit">
        <div class="recurit__first">
            <div class="recurit__img">
                <img src="../../assets/img/index1.jpg" alt="">
            </div>
            <div class="recurit__text">
                <span>会社情報</span>
                <h2>昨日よりも今日、今日よりも明日</h2>
                <p>さくらタクシーグループは創業より、お客様に最高の移動空間をお届けしてまいりました。2016年3月、東京の日本交通のグループ企業となり、気持ち新たに日々変化する社会の中で常に最高を追い求めます。</p>
                <button class="intro__btn">会社情報を見る<i class="fa fa-angle-right"></i></button>
            </div>
        </div>
        <div class="recurit__two">
            <div class="recurit__textTwo">
                <span>採用情報 Recruit</span>
                <h2>新しい未来に向かって挑戦</h2>
                <p>新たなステージに向かって挑戦、</p>
                <p>First Classなサービス作りに、加わりませんか。</p>
            </div>
            <div class="recurit__img">
                <!-- <img src="../../assets/img/index2.jpg" alt=""> -->
            </div>
        </div>
    </section>
    <!-- END RECURIT -->

    <!-- BEGIN CONTACT -->
    <section class="contact">
        <div class="contact__content">
            <h2>タクシー・ハイヤーのお問い合わせ</h2>
            <div class="contact__item">
                <div class="contact__phone">
                    <p>タクシー配車（配車専用ダイヤル）</p>
                    <p>TEL.<span>06-6452-0055</span></p>
                </div>
                <div class="contact__phone">
                    <p>タクシー配車（配車専用ダイヤル）</p>
                    <p>TEL.<span>06-6452-0055</span></p>
                </div>
                <div class="contact__phone active">
                    <p>メールで問い合わせる<i class="fa fa-angle-right"></i></p>
                </div>
            </div>
        </div>
    </section>
    <!-- END CONTACT -->

    <!-- BEGIN FOOTER -->
     <footer class="foot">
        <div class="foot__include">
            <div class="foot__heading">
                <div class="heading__img">
                    <img src="../../assets/img/さくらタクシー株式会社.png" alt="">
                </div>
                <div class="foot__text">
                    <p>〒553-0003 大阪市福島区福島6丁目2番6号 大阪安藤ハザマビル8階</p>
                    <p>TEL:06-6458-5471(代表) / FAX:06-6458-0107</p>
                </div>
            </div>
            <p class="line"></p>
            <div class="foot__content">
                <div class="foot__item">
                    <p class="active">タクシー</p>
                    <div class="item__text">
                        <p><i class="fa fa-angle-right"></i>タクシーを呼ぶ</p>
                        <p><i class="fa fa-angle-right"></i>乗り場案内</p>
                        <p><i class="fa fa-angle-right"></i>料金・チケッ</p>
                    </div>
                    <p>新卒採用</p>
                </div>
                <div class="foot__item">
                    <p class="active">ハイヤー</p>
                    <div class="item__text">
                        <p><i class="fa fa-angle-right"></i>役員車・社用車</p>
                        <p><i class="fa fa-angle-right"></i>ドライバー派遣</p>
                        <p><i class="fa fa-angle-right"></i>スポット利</p>
                        <p><i class="fa fa-angle-right"></i>観光ハイヤー用</p>
                    </div>
                    <p>中途採用</p>
                </div>
                <div class="foot__item">
                    <p class="active">車両情報</p>
                    <div class="item__text">
                        <p><i class="fa fa-angle-right"></i>タクシー</p>
                        <p><i class="fa fa-angle-right"></i>ハイヤー</p>
                    </div>
                    <p>よくあるご質問</p>
                </div>
                <div class="foot__item">
                    <p class="active">会社情報</p>
                    <div class="item__text">
                        <p><i class="fa fa-angle-right"></i>ご挨拶</p>
                        <p><i class="fa fa-angle-right"></i>会社概要</p>
                        <p><i class="fa fa-angle-right"></i>沿革</p>
                    </div>
                    <p>よくあるご質問</p>
                </div>
                <div class="foot__item">
                    <p class="active">ニュースリリース</p>
                    <div class="item__text">
                        <p><i class="fa fa-angle-right"></i>ニュース</p>
                        <p><i class="fa fa-angle-right"></i>プレス情報</p>
                        <p><i class="fa fa-angle-right"></i>メディア情報</p>
                    </div>
                    <p>プライバシーポリシー</p>
                </div>
            </div>
        </div>
        <div class="foot__end">
            <p>© さくらタクシー All Right Reserved.</p>
        </div>
    </footer> 

    <!-- END FOOTER -->

</body>

</html>